<<<<<<< HEAD
.Cart {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 100%;
}

.cartContent {
  display: flex;
}

.cartbuttons {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.Cart button {
  cursor: pointer;
  padding: 1rem 1rem;
  border-radius: 3rem;
  border: none;
  background-color: #24a0ed;
  color: white;
=======
.cart {
  display: flex;
}
.cartItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartItem img {
  height: 200px;
}

.cartItem ul {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  width: 500px;
}

.cartItem ul li {
  flex: 1;
  list-style: none;
}

.amount {
  width: 2rem;
}

.cartItem ul li button {
  width: 2rem;
>>>>>>> cart
}
